body {
    font-family: 'Montserrat';
}

a {

}
span {

}

.header {
    display: block;
    width: 100%;
    color: #fff;
    background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
    border-color: #6E7FF3;
}
.header a {
    text-decoration: none;
    color: #fff;
}
a {

}

.btn-primary-g {
  color: #fff;
  background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
  border-color: #6E7FF3;
}

.btn-primary-g:hover {
  color: #fff;
  background-image: linear-gradient(-225deg, #4a5b91 0%, #6460d7 48%, #8291fe 100%);
  box-shadow: 0 0 0 3px rgba(71, 83, 197, 0.3);
  border-color: #6E7FF3;
}

.btn-primary-g.focus, .btn-primary-g:focus, .btn-primary-g.active, .btn-primary-g:active, .open>.dropdown-toggle.btn-primary-g, .btn-primary-g.active.focus, .btn-primary-g.active:focus, .btn-primary-g.active:hover, .btn-primary-g:active.focus, .btn-primary-g:active:focus, .btn-primary-g:active:hover, .open>.dropdown-toggle.btn-primary-g.focus, .open>.dropdown-toggle.btn-primary-g:focus, .open>.dropdown-toggle.btn-primary-g:hover {
  color: #fff;
  background-image: linear-gradient(-225deg, #2f3f70 0%, #4440b4 48%, #596add 100%);
  box-shadow: 0 0 0 3px rgba(71, 83, 197, 0.3);
  border-color: #596add;
}

.md-18 { font-size: 18px; }
.md-24 { font-size: 24px; }
.md-36 { font-size: 36px; }
.md-48 { font-size: 48px; }
.md-60 { font-size: 60px; }
.md-72 { font-size: 72px; }
.md-84 { font-size: 84px; }
.md-96 { font-size: 96px; }
.md-120 { font-size: 96px; }
.md-148 { font-size: 96px; }

.wh-130 {
    width: 130px;
    height: 130px;
}
.inl-block {
    display: inline-block;
}

.sidebar {
    display: inline-block;
    margin-left: 40px;
    vertical-align: top;
    width: 250px;
    height: 150%;
    min-width: 250px;
    margin-right: 40px;
    margin-top: 40px;
}

.sidebar a {
    text-align: center;
    width: 113px!important;
    height: 113px!important;
    float: left;
    background: transparent;
    color: #8492a6;
    margin: 0 0 14px 10px;
}
.sidebar .elements {
    margin-top: 20%;
}
.trans {
    transition: .3s;
}
.trans:hover {
    transition: .3s;
}
.trans:active {
    transition: .3s;
}

.main-wrap {
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: calc(100% - 400px);
}

.main-menu-text {
    white-space: pre-wrap;
}

.text-block {

}

.sized {
    display: inline-block;
    width: 100%;
}

.name-surname {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
}

.name-surname .sized {
    width: 100%;
    margin-right: 100px;
    padding: 9px;
}

.form-registration {
    text-align: initial;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.header-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
    float: right;
    margin-top: 45px;
    margin-right: 30px;
    width: 300px;
}
.transparently {
   background-color: #ffffff00;
   border-color: #ffffff;
}

.border-blue {

}

.header-avatar {
    max-width: 45px;
    max-height: 45px;
    min-width: 45px;
    overflow: hidden;
    height: 45px;
    width: auto;
    border-radius: 50px;
    box-shadow: 0 0 3px rgb(0 0 0 / 50%);
}
.profile-avatar {
    margin-bottom: 10px;
    margin-right: 25px;
    max-width: 50px;
    max-height: 50px;
    max-height: 50px;
    min-width: 50px;
    overflow: hidden;
    height: 50px;
    width: auto;
    display: inline-block;
    border-radius: 50px;
    box-shadow: 0 0 3px rgb(0 0 0 / 50%);
}

.message-block {
    height: 65px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #d6d6d6;
    margin-top: 30px;
}

.message-avatar {
    float: left;
    max-width: 60px;
    max-height: 60px;
    min-width: 60px;
    min-height: 60px;
    overflow: hidden;
    height: 60px;
    width: auto;
    border-radius: 50px;
    margin: 2px;
    box-shadow: 0 0 3px rgb(0 0 0 / 50%);
}

.message-block p {
    float: left;
    margin-left: 20px;
    font-size: 18px;
}

.messages-name-surname {
    margin-top: 15px;
}

.gray-hover:hover {
    border-radius: 10px;
    background-color: #E5E5E5;
}
.gray-hover:active {
    border-radius: 10px;
    background-color: #C1C1C1;
}

.message-form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.message-form label {
    float: left;
}

.message-form div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.message-form p{
    margin-left: 10px;
}

.messages_with_user {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.messages_with_user .message-text{
    display: inline-block;
    margin-top: 5px;
    max-width: 50%;
}

.messages_with_user p {
    display: inline-block;

}
.messages_with_user div {
    display: flex;
    margin-bottom: 10px;
    word-break: break-all;
    min-width: 300px;
    border-bottom: 1px solid #d6d6d6;
}
.messages_with_user a {
    margin-top: 5px;
    margin-left: 20px;
}

.requests {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.requests tr {
    margin-top: 10px
}

.big {
    height: 100px;
}

.profile-posts {
    margin-top: 30px;
    margin-bottom: 100px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.profile-post {
    margin-top: 30px;
}

.post-author {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 20px;
}

.post-text {
    margin-top: 30px;
    font-size: 18px;
}
.post-image {
    max-width: 800px;
    max-height: 600px;
    border-radius: 2px;
    box-shadow: 0 0 4px rgb(132 132 132 / 50%);
}
// TODO: text-block, main-wrap,