<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
              rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
              rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round"
              rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp"
              rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone"
              rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.ui/1.8.5/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" type="text/javascript"></script>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    </head>
    <header>

        <div class="header">
            <a href="/">
                <img src="{{ url_for('static', filename='img/logo-min.png') }}" class="text-start wh-130 inl-block">
                <span class="md-24 inl-block">MEGAFACEBOOK</span>
            </a>
            <div class="header-end">
                {% if current_user.is_authenticated %}
                <a href="/profiles/id{{ current_user.id }}"><img alt="avatar" class="header-avatar" src="{{ url_for('static', filename='img/upload/'+ current_user.photo) }}"></a>
                    <a href="/profiles/id{{ current_user.id }}">{{ current_user.name }} {{ current_user.surname }}</a>
                    <a class="btn transparently trans" href="/logout">
                        Выйти
                    </a>
                {% else %}
                    <a class="btn transparently trans" href="/login">
                        Войти
                    </a>
                    <a class="btn transparently trans" href="/register">
                        Зарегистрироваться
                    </a>
                {% endif %}
            </div>
        </div>
    </header>
    <body>
        <div class="sidebar">
            <div class="main-buttons">
                {% for button in sidebar['sidebar'] %}
                    <a class="btn btn-sq-lg btn-primary-g trans" href="{{ button['url'] }}">
                        <div class="elements">
                            <span class="material-icons-outlined">{{ button['icon'] }}</span><br>
                            <span class="main-menu-text">{{ button['title'] }}</span>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="main-wrap">
            {% block content %}
            {% endblock %}
        </div>
    </body>
    <footer>
        Megafacebook 2021
    </footer>
</html>