{% extends "base.html" %}
{% block content %}

<div class="friends">
    <h1>Друзья</h1>
    {% if friends %}
        {% for friend in friends %}
            <div>
                <img class="header-avatar" style="margin-right: 10px" src="{{ url_for('static', filename='img/upload/'+ friend.photo) }}">
                <a style="margin-right: 10px" href="/profiles/id{{ friend.id }}">{{ friend.name }} {{friend.surname}}</a>
                <a href="/messages/id{{ friend.id }}" class="btn btn-primary trans" style="margin-right: 20px"> Написать сообщение</a>
                <a href="/delete_friend/id{{ friend.id }}" class="btn btn-primary trans" style="margin-right: 20px">Убрать из друзей</a>
                <br>
            </div>
        {% endfor %}
    {% else %}
        <h3>У тебя нет друзей :)</h3>
    {% endif %}
</div>

{% endblock %}