{% extends "base.html" %}
{% block content %}

<div class="friends">
    {% if friends %}
        <table>
            {% for friend in friends %}
                <tr>
                    <th>
                        <img class="header-avatar" src="{{ url_for('static', filename='img/upload/'+ friend.photo) }}">
                        <a href="profiles/id{{ friend.id }}">{{ friend.name }} {{friend.surname}}</a>
                        <a href="delete_friend/id{{ friend.id }}" class="btn btn-primary trans">Убрать из друзей</a>
                    </th>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>У тебя нет друзей :)</h3>
    {% endif %}
</div>

{% endblock %}