{% extends "base.html" %}
{% block content %}

<div class="friends">
    <h1>Друзья</h1>
    <form action="" method="post" class="form-registration">
        {{ form.hidden_tag() }}
        <div style="margin-right: auto; margin-left: auto; margin-bottom: 10px; margin-top: 10px;">
            {{ form.name.label }}<br>
            {{ form.name(class="form-control trans") }}<br>
            {% for error in form.name.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        </div>
        {{ form.submit(type="submit", class="btn btn-primary trans") }}
    </form>
    {% if friends %}
        {% for friend in friends %}
            <div class="gray-hover trans" style="margin-top: 10px">
                <img class="header-avatar" style="margin-right: 10px" src="{{ url_for('static', filename='img/upload/'+ friend.photo) }}">
                <a style="margin-right: 10px" href="/profiles/id{{ friend.id }}">{{ friend.name }} {{friend.surname}}</a>
                <a href="/messages/id{{ friend.id }}" class="btn btn-primary trans" style="margin-right: 20px"> Написать сообщение</a>
                <a href="/delete_friend/id{{ friend.id }}" class="btn btn-primary trans" style="margin-right: 20px">Убрать из друзей</a>
                <br>
            </div>
        {% endfor %}
    {% elif friends_find %}
        {% for friend in friends_find %}
            <div class="gray-hover trans" style="margin-top: 10px">
                <img class="header-avatar" style="margin-right: 10px" src="{{ url_for('static', filename='img/upload/'+ friend.photo) }}">
                <a style="margin-right: 10px" href="/profiles/id{{ friend.id }}">{{ friend.name }} {{friend.surname}}</a>
                <a href="/messages/id{{ friend.id }}" class="btn btn-primary trans" style="margin-right: 20px"> Написать сообщение</a>
                <a href="/add_friend/id{{ friend.id }}" class="btn btn-primary trans" style="margin-right: 20px">Добавить в друзья</a>
                <br>
            </div>
        {% endfor %}
    {% else %}
        <h3>У тебя нет друзей :)</h3>
    {% endif %}
</div>

{% endblock %}