{% extends "base.html" %}
{% block content %}

    <h3>Публикации пользователей</h3>
    <div class="profile-posts">
        <a class="btn btn-primary trans" href="/posts">Добавить публикацию</a>
        {% for i in posts %}
        <div class="profile-post">
            <img class="header-avatar" style="float: left" src="{{ url_for('static', filename='img/upload/'+ i.user.photo) }}">
            <a href="/profiles/id{{ i.user.id }}" class="post-author">{{ i.user.name }} {{ i.user.surname }}</a>
            <br>
            <p class="post-text">{{ i.text }}</p>
            <img class="post-image" src="{{ url_for('static', filename='img/upload/posts/'+ i.photo) }}">
            {% if i.user.id == current_user.id %}
                <div style="float: right; margin-top: 10px; width: 100%;">
                    <a class="btn btn-warning trans" href="/posts/id{{ i.id }}">Редактировать</a>
                    <a class="btn btn-danger trans" href="/posts_delete/id{{ i.id }}">Удалить</a>
                </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>

{% endblock %}