{% extends "base.html" %}
{% block content %}

<div id="messages-all" class="all_messages">
    <h1>Сообщения</h1>
    {% for i in users %}
        <a id="content" href="messages/id{{ i.id }}" class="trans">
            <div class="message-block gray-hover trans">
                <img class="message-avatar" src="{{ url_for('static', filename='img/upload/'+ i.photo) }}">
                <p class="messages-name-surname">{{i.name}} {{i.surname}}</p>
            </div>
        </a>
    {% endfor %}
</div>

<script>
setInterval(function(){
    $("#messages-all").load("/messages #content")
},1000)
</script>
{% endblock %}