{% extends "base.html" %}

{% block content %}

<div class="messages_with_user">

    {% for i in all_messages %}
        {% if i.from_user == current_user.id %}
            <div>
                <img class="header-avatar" src="{{ url_for('static', filename='img/upload/'+ current_user.photo) }}">
                <a>{{ current_user.name }} {{ current_user.surname }}</a><p>: {{ i.text }}</p><br>
        {% else %}
                <img class="header-avatar" src="{{ url_for('static', filename='img/upload/'+ pen_friend.photo) }}">
                <a>{{ pen_friend.name }} {{ pen_friend.surname }}</a><p>: {{ i.text }}</p><br>
            </div>
        {% endif %}

    {% endfor %}
    <form action="" method="post" class="message-form">

        <div>
            {{ form.message(class="form-control sized") }}<br>
            {% for error in form.message.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
            <p>{{ form.submit(type="submit", class="btn btn-primary trans") }}</p>
        </div>
    </form>
</div>

{% endblock %}