{% extends "base.html" %}

{% block content %}

<div class="messages_with_user">
    <h2>Переписка с {{ pen_friend.name }} {{ pen_friend.surname }}</h2>
    <a class="btn btn-primary trans" href="#down">Вниз</a>
    {% for i in all_messages %}
        <div id="content">
            {% if i.from_user == current_user.id %}
                <img class="header-avatar" style="margin-bottom: 10px;" src="{{ url_for('static', filename='img/upload/'+ current_user.photo) }}">
                <a href="/profiles/id{{ current_user.id }}">{{ current_user.name }} {{ current_user.surname }}</a><p class="message-text">: {{ i.text }}</p><br>
            {% else %}
                <img class="header-avatar" style="margin-bottom: 10px;" src="{{ url_for('static', filename='img/upload/'+ pen_friend.photo) }}">
                <a href="/profiles/id{{ pen_friend.id }}">{{ pen_friend.name }} {{ pen_friend.surname }}</a><p class="message-text">: {{ i.text }}</p><br>
            {% endif %}
            <a> отправлено в {{ i.date.strftime('%H:%M') }} </a>
        </div>
    {% endfor %}
    <form action="" method="post" class="message-form">

        <div>
            {{ form.message(class="form-control sized") }}<br>
            {% for error in form.message.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
            <p id="down">{{ form.submit(type="submit", class="btn btn-primary trans") }}</p>
        </div>
    </form>
</div>

<script>
setInterval(function(){ // load the data from your endpoint into the div
    $("#content").load("/message_page/id{{ pen_friend.id }} #content").
},1000)
</script>


{% endblock %}