{% extends "base.html" %}
{% block content %}


    <h1>Изменение аватара</h1>

    <form action="" method="post" class="form-registration" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.photo.label }}<br>
            {{ form.photo(class="form-control-file", type="file") }} <br>
            {% for error in form.photo.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary trans") }}</p>
        {{message}}
    </form>

{% endblock %}