{% extends "base.html" %}
{% block content %}


    <h1>Изменение пароля</h1>

    <form action="" method="post" class="form-registration" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.old.label }}<br>
            {{ form.old(class="form-control sized", type="password") }}<br>
            {% for error in form.old.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control sized", type="password") }}<br>
            {% for error in form.password.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.password_again.label }}<br>
            {{ form.password_again(class="form-control sized", type="password") }}<br>
            {% for error in form.password_again.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary trans") }}</p>
        {{message}}
    </form>

{% endblock %}