{% extends "base.html" %}

{% block content %}

    <div class="profile-header">
        <!-- img -->
        <img alt="avatar" class="profile-avatar" src="{{ url_for('static', filename='img/upload/'+ user.photo) }}">
        <h1 style="display: inline-block">{{ user.name }} {{user.surname }}</h1>
        <br>
        <h3>Город: {{ user.city }}. Друзей: {{ count_of_friends}}<br>Зарегистрирован с {{ user.registration_date.strftime('%Y-%m-%d') }}</h3><br>
    </div>
    {% if current_user.id != user.id %}
        <a class="btn btn-primary trans" href="/messages/id{{ user.id }}">Написать сообщение</a>
        <a class="btn btn-primary trans" href="/add_friend/id{{ user.id }}">Добавить в друзья</a>
    {% else %}
        <div>
            <a style="margin-bottom: 10px;" class="btn btn-primary trans" href="/posts">Добавить публикацию</a>
            <div class="settings-panel-wrap">
                <a class="btn btn-primary trans" href="#">Открыть настройки</a>
                <div class="settings-panel" style="margin-top:10px;">
                    <a class="btn btn-primary trans" href="/profiles_update/">Редактировать профиль</a>
                    <a class="btn btn-primary trans" href="/profiles_photo/">Редактировать фото профиля</a>
                    <a class="btn btn-primary trans" href="/profiles_password/">Изменить пароль</a>
                </div>
            </div>
        </div>
    {% endif %}
    <br>
    <a>{{ message }}</a>
    <h3>Публикации пользователя</h3>
    <div class="profile-posts">
        {% for i in posts %}
            <div class="profile-post">
                <img class="header-avatar" style="float: left" src="{{ url_for('static', filename='img/upload/'+ user.photo) }}">
                <a href="/profiles/id{{ user.id }}" class="post-author">{{ user.name }} {{ user.surname }}</a>
                <br>
                <p class="post-text">{{ i.text }}</p>
                <img class="post-image" src="{{ url_for('static', filename='img/upload/posts/'+ i.photo) }}">
                <div style="float: right; margin-top: 10px; width: 100%;">
                    <a>Опубликовано {{ i.date.strftime('%h, %d, %H:%M') }}</a>
                </div>
                {% if user.id == current_user.id %}
                    <div style="float: right; margin-top: 10px; width: 100%;">
                        <a class="btn btn-warning trans" href="/posts/id{{ i.id }}">Редактировать</a>
                        <a class="btn btn-danger trans" href="/posts_delete/id{{ i.id }}">Удалить</a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
<script>
$(document).ready(function(){
$(".settings-panel-wrap a").click(function(){
$(".settings-panel").slideToggle('slow');
$(this).toggleClass("active");
});
return false;
});
</script>
{% endblock %}