{% extends "base.html" %}
{% block content %}

<div class="requests">
    <h3>Отправленные заявки</h3>
    <table>
        <tr>
            <th>Пользователь</th>
        </tr>

        {% for user in requests_to %}
        <tr>
            <td>
                <img class="header-avatar" src="{{ url_for('static', filename='img/upload/'+ user.photo) }}">
                <a href="profiles/id{{ user.id }}">{{ user.name }} {{ user.surname }}</a>
                <a class="btn btn-primary trans" href="/delete_friend/id{{ user.id }}">Убрать заявку</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <h3>На рассмотрении</h3>
    <table>
        <tr>
            <th>Пользователь</th>
        </tr>
        {% for user in requests_from %}
            <tr>
                <td>
                    <img class="header-avatar" src="{{ url_for('static', filename='img/upload/'+ user.photo) }}">
                    <a class="requests-name-surname" href="profiles/id{{ user.id }}">{{ user.name }} {{ user.surname }}</a>
                    <a class="btn btn-primary trans" href="/add_friend/id{{ user.id }}">Добавить в друзья</a>
                    <a class="btn btn-primary trans" href="/delete_friend/id{{ user.id }}">Убрать заявку</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}